*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.wrapper {
  width: 320px;
  height: 550px;
  border: 2px solid #000;
  position: relative;
  overflow: hidden;
  background: url(../images/bg.jpg) no-repeat;
  background-size: 100% 100%;
  text-align: center;
}

.section-1,
.section-2,
.section-2 li,
.section-3,
.section-4,
.section-4 li,
.section-5,
.section-5 li,
.section-6 {
  width: 100%;
  position: absolute;
}

.section-1 {
  top: 4%;
  z-index: 11;
}

.section-2 {
  top: 19%;
}
.section-2 li {
  padding: 0 72px;
  color: #c71f2a;
  font-size: 32px;
  text-transform: capitalize;
}
.section-2 li {
  left: -100%;
}

.section-2 li:nth-child(1) {
  animation: section2-1 3.2s .3s linear forwards;
}

@keyframes section2-1 {
  0% { left: -100%; }
  5% { left: -5%; }
  20% { left: 0; }
  95% { left: 0; }
  100% { left: -100%; }
}

.section-2 li:nth-child(2) {
  animation: section2-2 3s 5.3s linear forwards;
}

@keyframes section2-2 {
  0% { left: -100%; }
  5% { left: -5%; }
  20% { left: 0; }
  95% { left: 0; }
  100% { left: -100%; }
}

.section-2 li:nth-child(3) {
  padding: 0 40px;
  animation: section2-3 4s 9s linear forwards;
}

@keyframes section2-3 {
  0% { left: -100%; }
  5% { left: -5%; }
  20% { left: 0; }
  95% { left: 0; }
  100% { left: -100%; }
}

.section-2 li:nth-child(4) {
  animation: section2-4 3s 14s linear forwards;
}

@keyframes section2-4 {
  0% { left: -100%; }
  5% { left: -5%; }
  20% { left: 0; }
  95% { left: 0; }
  100% { left: 0; }
}

.section-3 {
  left: -100%;
  animation: section3 .5s 16.5s linear forwards;
}

@keyframes section3 {
  0% { left: -100%; }
  25% {
    top: 13%;
    left: -50%;
  }
  50% {
    top: 26%;
    left: -25%;
  }
  100% {
    top: 41%;
    left: 0;
  }
}

.section-3 a {
  padding: 6px 17px;
  border: 1px solid #000;
  border-radius: 7px;
  display: inline-block;
  background-color: #3f318a;
  color: #fff;
  font-size: 17px;
  text-decoration: none;
  text-transform: capitalize;
  transition: all .3s;
}

.section-3 a:hover {
  border-color: #3f318a;
  background-color: transparent;
  color: #3f318a;
}

.section-4 {
  top: 43.2%;
  left: 0;
}
.section-4 li {
  left: 100%;
}

.section-4 li:nth-child(1) {
  z-index: 12;
  animation: section4-1 3.2s .3s linear forwards;
}

@keyframes section4-1 {
  0% { left: 100%; }
  5% { left: 22%; }
  20% { left: 17%; }
  95% { left: 17%; }
  100% { left: 100%; }
}

.section-4 li:nth-child(2) {
  animation: section4-2 3s 5.3s linear forwards;
  transform: translateY(-9%);
}

@keyframes section4-2 {
  0% { left: 100%; }
  5% { left: 19%; }
  20% { left: 14%; }
  95% { left: 14%; }
  100% { left: 100%; }
}

.section-4 li:nth-child(3) {
  animation: section4-3 4s 9s linear forwards;
  transform: translateY(-11%);
}

@keyframes section4-3 {
  0% { left: 100%; }
  5% { left: 19%; }
  20% { left: 12%; }
  95% { left: 12%; }
  100% { left: 100%; }
}

.section-4 li:nth-child(4) {
  z-index: 12;
  animation: section4-4 3s 14s linear forwards;
  transform: translateY(73%);
}

@keyframes section4-4 {
  0% { left: 100%; }
  10% { left: 5%; }
  25% { left: 0; }
  95% { left: 0; }
  100% { left: 0; }
}

.section-4 li:nth-child(5) {
  left: -100%;
  z-index: 13;
  transform: translateY(-18%);
  animation: section4-5 1.5s 15s linear forwards;
}

@keyframes section4-5 {
  0% { left: -100%; }
  10% {
    left: 6%;
    transform: translateY(-12%);
  }
  25% { 
    left: 6%;
    transform: translateY(0%);
  }
  50% {
    left: 6%;
    transform: translateY(15%);
  }
  75% {
    left: 6%;
    transform: translateY(30%);
  }
  100% {
    left: 6%;
    transform: translateY(45%);
  }
}

.section-5 {
  bottom: 11.6%;
  left: 0;
  z-index: 11;
}

.section-5 li {
  left: -100%;
}

.section-5 li:nth-child(1) {
  z-index: 6;
  animation: section5-1 3s linear forwards;
}

@keyframes section5-1 {
  0%, 100% { left: -100%; }
  5%, 95% { left: -20%; }
}

.section-5 li:nth-child(2) {
  z-index: 7;
  animation: section5-2 10s 3s linear forwards;
}

@keyframes section5-2 {
  0% { left: -100%; }
  4% { left: -25%; }
  98% { left: -25%; }
  100% { left: -100%; }
}

.section-5 li:nth-child(3) {
  z-index: 8;
  animation: section5-3 10s 3s linear forwards;
  transform: translateY(20%); 
}

@keyframes section5-3 {
  0% { left: -100%; }
  4% { left: -25%; }
  98% { left: -25%; }
  100% { left: -100%; }
}

.section-5 li:nth-child(4) {
  z-index: 11;
  animation: section5-4 10s 3s linear forwards;
}

@keyframes section5-4 {
  0% { left: -100%; }
  4% {left: -25%; }
  10% { transform: translateY(0); }
  12% { transform: translateY(-90%); }
  18% { transform: translateY(-90%); }
  20% { transform: translateY(-28%); }
  98% { left: -25%; }
  100% {
    left: -100%;
    transform: translateY(-28%);
  }
}

.section-5 li:nth-child(5) {
  z-index: 9;
  animation: section5-5 10s 3s linear forwards;
  opacity: 0;
  transform: translateY(15%);
}

@keyframes section5-5 {
  0% { left: -100%; }
  4% { left: -26%; }
  18% { opacity: 1; }
  98% { left: -26%; }
  100% {
    left: -100%;
    opacity: 1;
  }
}

.section-5 li:nth-child(6) {
  z-index: 10;
  animation: section5-6 10s 3s linear forwards;
  opacity: 0;
  transform: rotate(-55deg) translate(0, -50%);
}

@keyframes section5-6 {
  0% { left: -100%; }
  4% { left: -26%; }
  10% {
    opacity: 0;
    transform: rotate(-55deg) translate(0, -50%);
  }
  16% {
    opacity: 1;
    transform: rotate(-55deg) translate(40px, 100%);
  }
  20% {
    opacity: 0; 
    transform: rotate(-55deg) translate(40px, 100%);
  }
  98% { left: -26%; }
  100% { left: -100%; }
}

.section-6 {
  width: 100%;
  bottom: -8.5%;
  left: 0;
  z-index: 5;
}

.section-6 img {
  width: 100%;
}